body { 
   margin-left: 30%; 
   margin-right: 10%; 
   margin-top: 1%;
   font-family: Verdana, sans-serif; 
   font-size: 100%;
}

/* colors */
h1, h2, h3, h4 { color: #006600; margin-bottom: 1em;}  /* green */
body { color: gray;}
a:link {text-decoration: none; color: olive; } 
a:visited {text-decoration: none; color: olive;} 
a:hover { color: #FFCC33; font-weight: bold}

/* color: #2222AA;} */ /* navy blue */

code { color: #CC6600; font-size: 120%; font-weight: bold}

/* *********************************************************/
/* Banner */
/* *********************************************************/
div.banner {
  margin: 0;
  font-size: 110% /*larger*/;
  font-weight: bold;
/*  line-height: 1.1; 
  text-align: center; */
  position: fixed;
  top: 2em;
  left: auto;
/*  width: 8.5em; */
  right: 2em;
}


div.banner ol li {
  margin: 0; 
  padding: 0.3em 0.4em;
  font-family: Arial, sans-serif;
  list-style: none;
}

div.banner ol li  a:link { text-decoration: none; color: #CC0033; } /* maroon */
div.banner ol li  a:visited { text-decoration: none; color: #CCC000; } 
div.banner ol li a:hover { background: white; color: #FFCC33; }



/* *********************************************************/
/* Sections Panel */
/* *********************************************************/
div.sections {
  margin: 0;
  font-size: 110% /*larger*/;
  font-weight: bold;
/*  line-height: 1.1; 
  text-align: center; */
  position: fixed;
  top: 2em;
  left: 2em;
  right: auto;
/*  width: 8.5em; */
}

div.sections ol  li {
  margin-left: -1.5em; 
  padding: 0.3em 0.4em;
  font-family: Arial, sans-serif;
  list-style: none;
}

div.sections ol li  a:link { text-decoration: none; color: #CC0033; } /* maroon */
div.sections ol li  a:visited { text-decoration: none; color: #CCC000; } 
div.sections ol li a:hover { background: white; color: #FFCC33; }



/* *********************************************************/
/* Announcements Panel */
/* *********************************************************/
div.announcements {
  background-color: yellow;
  margin-top  : 20em;
  font-size: 110% /*larger*/;
  font-weight: bold;
/*  line-height: 1.1; 
  text-align: center; */
  position: fixed;

  left: 2em;
  right: auto;
/*  width: 8.5em; */
}

div.announcements ol  li {
  margin-left: -1.5em; 
  padding: 0.3em 0.4em;
  font-family: Arial, sans-serif;
  list-style: none;
}

div.announcements ol li  a:link { text-decoration: none; color: navy; } 
div.announcements ol li  a:visited { text-decoration: none; color: teal; } 
div.announcements ol li a:hover { background: white; color: purple; }




/* *********************************************************/
/* decoration */
/* *********************************************************/
div.decoration {
  margin: 0em;
  position: fixed;
  top: 60%;
  left: 0;
/*  width: 8.5em; */
  right: auto;
}



/* ****************************************************************** */


img#validator {
	border: none;
}

h3#heading {
	font-size: 150%;
	text-align: center;
}

/*	padding-top: 0.5em; 
        color: #000033; 
        color: #EEDD99;

*/

/*
-----------------------------------------------------------
toc
-----------------------------------------------------------
*/
div.toc {
	color: #FFFFFF;
	width: 100%;
        padding-bottom: 0.5em;
}

div.toc a {
	padding: 1em;
}


ul.toc li {
  margin-bottom: 1em;
  list-style-type:  none;
  position: relative; margin-left: -0.9em; padding: 0.5em;
}

/*
-----------------------------------------------------------
intro
-----------------------------------------------------------
*/

div.intro {
      padding-left: 10%;
      padding-right: 10%;
    }

div.intro td{
 padding-right: 0.5em; 
}
/*
-----------------------------------------------------------
contact information
-----------------------------------------------------------
*/

div.contact {
      padding-left: 10%;
  }

span.warning {
  }

table.contacts *> th {
  text-align: left; 
}
table.contacts caption {
  display: none; 
}

/*
-----------------------------------------------------------
research
      margin-left: 15%;
      margin-right: 25%;

-----------------------------------------------------------
*/

body.left-pane {
	color: #3333FF
}

body.top-pane {
 display: table;
 margin:0em;
 padding:0em;
 white-space:nowrap;
 list-style-type:none;
 font-size: 100%;
/* border: 1px, solid red; */
}
  
body.top-pane *> li{
 display: inline;
 margin-right: 5%;
}
  

	
/* #000033;  /* navy blue? */

/*      margin-top: -2em; */

div.research ul li{
      margin: 0.8em;

  }

div.applcns {
      padding-left: 25%;
      padding-right: 10%;

  }

div.faculty-references {
      padding-left: 25%;
      padding-right: 10%;

  }

div.faculty-references dd {
	margin-bottom: 0.8em;

  }

div.certs {
      padding-left: 25%;
      padding-right: 10%;

  }

div.certs ul li{
      margin: 0.8em;
  }


div.publications {
      padding-left: 25%;
      padding-right: 10%;

  }

div.publications ul li{
      margin: 0.8em;
  }

span.publication-title{
      font-weight: bold;
  }


/*
-----------------------------------------------------------
teaching
-----------------------------------------------------------
*/

div.teach {
      margin-left: 15%;
      margin-right: 10%;
      font-size: 100%;
  }


div.course-info {
      margin-top: -1.5em;
      font-size: 80%
}

span.instructor-type {
/*      margin-top: -1.5em; */
      color: green; 
      margin-left: 2em;
      font-size: 75%;
      
 }
	

/*
-----------------------------------------------------------
bookmarks

TO BE DONE
-----------------------------------------------------------
*/


/* *****************************************************
 *           *
 * Main Page *
 *           *
 *******************************************************
*/

h2.float-left {/* header element float */
  float: left;
  width: 8em;
  margin: 0 0.2em 0 0;
  background: #eee8aa;  /* light brown */
  }


#family-photo {
  float: left;
  height: 12em;
  margin-left: -20%;
  margin-right: 1em;
}

/* p:hover { background: rgb(204,204,255);}*/

address, p#html-helper-timestamp {
  margin-top:0;
  font-size: 80%;
}

#highlight {
 background: yellow;
}



div.content {
  margin-left: 15%;
  margin-right: 5%;
  font-size: 100% /*larger*/;
/*  line-height: 1.1; 
  text-align: center; */
}
