
body{
  font-family: 'Source Sans Pro', sans-serif;
  }
  .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #8c1515;
  color: white;
  text-align: center;
  }
  .h3{
  color: #8c1515;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 100%;
  }
  .nav-tabs{
  background: #f2f1eb;
  border: box-border;
  box-sizing: border-box;
  }

.nav-tabs > li{
  /*width:14.28%;*/
  box-sizing: border-box;
  text-align: center;
  border-left: 0.0625em solid #c7c1ad;
  }
.area-padding {
  padding: 70px 0px 80px;
  padding-top: 70px;
  padding-top: 70px;
  padding-top: 38px;
  background: #f2f1eb;}
.nav-tabs > li > a{
  margin-right: 2px;
  line-height: 1.42857143;
  height:46px;
  color:#555;
  font-size: 0.875em;
  font-weight: bold;
  line-height: 200%;
  text-transform: uppercase;
  border-bottom:1px solid #ddd;
  }
.latestupdates{
  padding: 5px 0 0 10px;
  font: normal 140% Arial, Helvetica, sans-serif;
  height: 30px;
  text-shadow: 0px -1px 0px #000;
  color: #fff;
  background: #1D1D1D;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  }
  .nav-tabs > li > a:hover{border-color: #eee #eee #ddd;
  }
  
  .nav-tabs > li > a:hover{
  }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
  border-radius: 0;
  background-color: #fff;
  color: #9d9573;
  font-size: 0.875em;
  font-weight: bold;
  line-height: 200%;
  text-transform: uppercase;
  padding: 0 0.85714em 1.14286em;
  }
  
  hr{
  width: 1.5625em;
  border: 0;
  border-bottom-width: 0px;
  border-bottom-style: none;
  border-bottom-color: currentcolor;
  border-bottom: 0.25em solid #8c1515;
  margin: 0.5em 0;
  margin-right: 0px;
  margin-right: 100%;
  }
  .info{
  font-size: 0.9375em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.03333em;
  color: #8c1515;
  }
  
.carousel {
  position: relative;
  top: 18px;
  }
  
  /*search*/

  #custom-search-input {
  margin:0;
  margin-top: 28px;
  padding: 0;
  }
  #custom-search-input .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
 
  
  margin-bottom: 0;

  /*-moz-border-radius: 3px;*/
  border-radius: 24px;
  }

#custom-search-input button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
 /* -webkit-border-radius: 3px;
  -moz-border-radius: 3px;*/
  border-radius: 3px;
  color:#D9230F;
  }
  
.search-query:focus + button {
  z-index: 3;   
  }

  .banner {
  background-image: url(img/bg.jpeg);
 /* color: white;*/
  padding-bottom: 1.25em;
  margin-bottom: 0;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  height:20em;
  background-size: cover;
  background-position: center;
  box-shadow: 10px 10px 5px #ccc;
  }

  .navbar {
  position: relative;
  min-height: 90px;
  margin-bottom: 0px !important;
  border: 0px solid transparent;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
  }
  .name{
  font-size: 1.375em;
  font-weight: 300;
  line-height: 1em;
  margin-bottom: -3px;
  text-shadow: none;
  color:#fff; font-size:26px;
  padding-top:31px;
  }
  
  .logo{font-family: 'Stanford', 'Source Serif Pro', 'Georgia', 'Times', 'Times New Roman',! serif important;
  font-size: 2em;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  letter-spacing: 0;
  text-shadow: none;
  color:#fff; font-size:39px;
  }
  .navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  padding-top: 15px;
  font-size: 29px;
  padding-top: 31px;
  }

  .author{
  font-family: 'Source Sans Pro', sans-serif;
 /* font-size: 85%;*/
  color: #585754;
  font-size: 0.85714em;
font-style: normal;
  }
  .details{
  font-family: 'Source Sans Pro', sans-serif;
 /* font-size: 85%;*/
  color: #585754;
  font-size: 0.85714em;
font-style: normal;
  }

.icon-background{

height: 25px;
    width: 25px !important;
    background-color:#eaab00;
    border-radius: 50%;
    
}
ul li {
line-height: 125%;
}
.title{
font-weight: 600;
font-size: 0.875em;
font-style: normal;
color:#585754;
}
button, a {
color: #9d9573;
cursor: pointer;
font-size: 0.875em;
}

.viewdetails{line-height: 150%;
font-size: 0.875em;
word-wrap: break-word;
padding-left:28px;
}

.show {
    display: none !important;}
  
.fa-stack{
display: inline-block;
height: 2em;
line-height: 2em;
position: relative;
vertical-align: middle;
width: 1.5em;
}
